body {
  margin: 0;
  font-family: 'Roboto'; 
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Medium.ttf) format('woff');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
